
@mixin innerContain {
    width: 95%;
    margin: auto;
}

@mixin pageContain {
    width: 100%;
    margin: auto;
}

@mixin defaultBtn {
    background-color: black;
    color: white;
    border-radius: .5em;
    width: 7em;
    height: 3em;
}